<!DOCTYPE html>
<html data-ng-app="search.demo" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Application Technology Demonstrator</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
</head>
<body data-ng-controller="SearchController as vm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Search Demo:</a>
            </div>

            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group long">
                        <input id="searchBox" type="text" class="form-control" data-ng-model="vm.query" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button id="searchBtn" class="btn btn-default" type="button" data-ng-click="vm.search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <section class="container-fluid">
        <div class="center-block" data-ng-show="vm.hasResults">
            <!-- Begin search selectors -->
            <ul class="nav nav-pills">
                <li id="web" role="presentation" class="active"><a href="#" data-ng-click="vm.searchType('Web')">Web</a></li>
                <li id="images" role="presentation"><a href="#" data-ng-click="vm.searchType('Image')">Images</a></li>
                <li id="news" role="presentation"><a href="#" data-ng-click="vm.searchType('News')">News</a></li>
            </ul>
            <!-- End search selectors -->
            <div class="col-xs-12 col-md-7 col-md-offset-1">
            <ul class="list-group" data-ng-repeat="result in vm.results">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{{result.Url}}" title="{{result.Title}}"><h4>{{result.Title}}</h2></a>                            
                        </div>
                        <div class="col-xs-12 text-muted">
                            {{result.Description}}                          
                        </div>
                        <div class="col-xs-12 text-muted">
                            <h6><a class="site-url" href="{{result.Url}}" title="{{result.DisplayUrl}}">{{result.DisplayUrl}}</a></h5>
                        </div>

                        <img data-ng-src="{{result.MediaUrl}}" title="{{result.Title}}" />
                    </div>
                </li>
            </ul>
            </div>

        </div>
    </section>

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="app/app.module.js"></script>

    <script src="app/core/core.module.js"></script>
    <script src="app/core/config.js"></script>
    <script src="app/core/bingservice.js"></script>

    <script src="app/search/search.module.js"></script>
    <script src="app/search/search.controller.js"></script>
</body>
</html>